
name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.7
      uses: actions/setup-python@v3
      with:
        python-version: "3.7"
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install elm-messenger
        npm i -g elm elm-format
        elm --help
        elm-format --help
        printf "\n" | messenger init test
    - name: Test run
      working-directory: ./test
      run: |
        printf "\n" | messenger scene H
        printf "\n" | messenger layer H J
        make
        printf "\n" | messenger layer H K
        make
        printf "\n" | messenger layer H KC -c
        make
        printf "\n" | messenger component K
        make
        printf "\n" | messenger component S -d K
        make
        printf "\n" | messenger sceneproto Core
        make
        printf "\n" | messenger protolayer core gamelayer
        make
        printf "\n" | messenger level Core L1
        make
        printf "\n" | messenger protolayer core l2
        make
